<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <img
        src="https://source.unsplash.com/300x300/?lock"
        height="16"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 px-4">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-link px-3 me-2"><a href="{% url 'login' %}">Login</a></button> 
            {% comment %} {% url '<url/route_name>' %} {% endcomment %}
        <!-- <button type="button" class="btn btn-link px-3 me-2"><a href="login">Login</a></button> -->
        <!-- <button type="button" class="btn btn-link px-3 me-2"><a href="/login">Login</a></button> -->
        <button type="button" class="btn btn-primary me-3"><a href="/signup" class="text-white">Sign Up</a></button>
        {% comment %} <button type="button" class="btn btn-primary me-3"><a href="{% url 'signup' %}">Sign Up</a></button> {% endcomment %}
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
