{% extends 'account_base.html' %}\

{% block title %}CHange Password{% endblock title %}\

{% block css %}
<style>
#inputPasswordNew{
    position: relative;
}
.pswd_icon_wrapper{
    position: absolute;
    cursor: pointer;
    top:35%;
    right:5%;
}
</style>
{% endblock css %}

{% block main %}
<div class="container">
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Change Password</h3>
        </div>
        <div class="card-body col-8">
            <form class="form" action="" method="post" role="form" autocomplete="off">
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputPasswordOld">Current Password</label>
                    <input type="password" class="form-control" id="inputPasswordOld" name="pswd" value="{{formData.pswd}}" required>
                    {% if formErr %}
                    <p class="text-danger">
                        {{formErr.pswdErr}}
                    </p>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="inputPasswordNew">New Password</label>
                    <input type="password" class="form-control" id="inputPasswordNew" name="npswd" value="{{formData.npswd}}" required>
                    <span class="pswd_icon_wrapper"><i class="fas fa-eye text-secondary"></i></span>
                    <span class="form-text small text-muted">The password must be more than 8 characters, and must contain uppercase, number & symbol.</span>
                    {% if formErr %}
                    <p class="text-danger">
                        {{formErr.npswdErr}}
                    </p>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="inputPasswordNewVerify">Confirm New Password</label>
                    <input type="password" class="form-control" id="inputPasswordNewVerify" name="cnpswd" value="{{formData.cnpswd}}" required>
                    <span class="form-text small text-muted">To confirm, type the new password again.</span>
                    {% if formErr %}
                    <p class="text-danger">
                        {{formErr.cnpswdErr}}
                    </p>
                    {% endif %}
                </div>
                <div class="form-group d-flex">
                    <button type="submit" name="change_button" class="btn btn-primary btn-lg mx-2">Change</button>
                    <a class="btn btn-info btn-lg mx-2" href="/profile">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main %}
{% block js %}
<script>
let password = document.querySelector('#inputPasswordNew');
let pswdIcon = document.querySelector('.pswd_icon_wrapper')
pswdIcon.addEventListener('click', function(element){
    //alert("click");
    if(password.getAttribute("type") == "password"){
    password.setAttribute("type", "text");
    this.innerHTML = `<i class="fas fa-eye-slash text-secondary"></i>`
    }
    else{
    password.setAttribute("type", "password");
    this.innerHTML = `<i class="fas fa-eye text-secondary"></i>`
    }
})
</script>
{% comment %} Script Enjected by Django {% endcomment %}
<script>
    {% if successMsg %}
        alert("{{successMsg}}")
    {% endif %}
</script>
{% endblock js %}