{% extends 'base.html' %}
{% block title %}404 Page{% endblock title %}
{% block main %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">Access Denied!</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span>Login Required!</p>
        <p class="lead">
            The page you’re looking for required login.
          </p>
        <a href="/" class="btn btn-primary">Go Home</a>
        <a href="/login" class="btn btn-primary">Login</a>
    </div>
</div>
{% endblock main %}
